*.py text eol=lf
*.R text eol=lf
*.qmd text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.csv text eol=lf
*.h5ad filter=lfs diff=lfs merge=lfs -text
*.h5ad.gz filter=lfs diff=lfs merge=lfs -text

